nodered/flows(2).json
[{"id":"cac25d6d.e0714","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"3445c935.fd26e6","type":"inject","z":"cac25d6d.e0714","name":"","topic":"temperature","payload":"30","payloadType":"num","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":160,"y":140,"wires":[["64490e4.1ca117"]]},{"id":"64490e4.1ca117","type":"mqtt out","z":"cac25d6d.e0714","name":"","topic":"/iescelia/aula22","qos":"","retain":"","broker":"476bf5d1.c0e534","x":500,"y":140,"wires":[]},{"id":"38a821bd.f0c8ee","type":"mqtt in","z":"cac25d6d.e0714","name":"","topic":"/iescelia/aula22","qos":"2","datatype":"auto","broker":"476bf5d1.c0e534","x":210,"y":260,"wires":[["42f5459c.5e447c","d42e93b7.23287"]]},{"id":"42f5459c.5e447c","type":"debug","z":"cac25d6d.e0714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":570,"y":260,"wires":[]},{"id":"d42e93b7.23287","type":"influxdb out","z":"cac25d6d.e0714","influxdb":"29849a10.65da16","name":"","measurement":"temperature","precision":"","retentionPolicy":"","x":590,"y":380,"wires":[]},{"id":"bdb609c8.c8ca58","type":"influxdb in","z":"cac25d6d.e0714","influxdb":"29849a10.65da16","name":"","query":"SELECT * FROM temperature;","rawOutput":false,"precision":"","retentionPolicy":"","x":330,"y":500,"wires":[["5e53715f.f4365"]]},{"id":"5e53715f.f4365","type":"debug","z":"cac25d6d.e0714","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":630,"y":560,"wires":[]},{"id":"476bf5d1.c0e534","type":"mqtt-broker","z":"","name":"","broker":"mosquitto","port":"1883","clientid":"","usetls":false,"compatmode":false,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"29849a10.65da16","type":"influxdb","z":"","hostname":"influxdb","port":"8086","protocol":"http","database":"iescelia_db","name":"","usetls":false,"tls":""}]